@import "./../../scss/componentstyles/utils/variables.scss";

.cart {
  display: flex;
  font-family: Taviraj;
  flex-direction: column;

  h1 {
    font-size: 20px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #333;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.48px;
    text-align: left;
    color: #333;
    margin: 0;
    padding: 0;
  }
}

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $secondGrey;
  padding-bottom: 30px;
  margin-top: 40px;
  @media screen and (max-width:576px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.img-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  @media screen and (max-width:576px) {
    width: 80%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.img-wrapper {
  background-color: $secondAccent;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 35px;
  @media screen and (max-width: 768px) {
    height: 120px;
  }
  @media screen and (max-width: 576px) {
    width:  120px;
    text-align: center;
  }
  img {
    width: 65%;
  }
}

// @media screen and (max-width: 1400px) {
//   width: 80%;
//   font-size: calc( 18px + (20 - 18) * (100vw - 1200px) / (1400 - 1200) ); 
// }

// @media screen and (max-width: 1200px) {
//   width: 80%;
//   font-size: calc( 16px + (17 - 16) * (100vw - 992px) / (1200 - 992) ); 
// }
// @media screen and (max-width: 992px) {
//   width: 100%;

//   font-size: calc( 14px + (15 - 14) * (100vw - 768px) / (992 - 768) ); 
// }
// @media screen and (max-width: 768px) {
//   width: 100%;
//   flex-direction: column;
//   font-size: calc( 19px + (25 - 19) * (100vw - 576px) / (768 - 576) ); 

// }
// @media screen and (max-width: 576px) {
//   flex-direction: column;
//   font-size: calc( 16px + (22 - 16) * (100vw - 0px) / (576 - 0 ) ); 
// }

.plus-minus-delete {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @media screen and (max-width: 1400px) {
    width: 45%;
  }
  @media screen and (max-width: 1200px) {
    width: 45%;
  }
  @media screen and (max-width: 992px) {
    width: 50%;
  }
  @media screen and (max-width: 768px) {
    width: 50%;
  }
  @media screen and (max-width:576px) {
    width: 90%;
   }
  .minus {
    background-color: transparent;
  }

  .plus {
    background-color: transparent;
  }

  .selectPackage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
    @media screen and (max-width:576px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h4{
        padding-bottom: 0 !important;
        font-size: calc(18px + (20 - 10) * (100vw - 576px) / (576 - 0) ); 
      }
     }

    .selectPackageSelect{
      width: 58%;
      @media screen and (max-width: 1200px) {
        width: 70%;
      }
      @media screen and (max-width: 992px) {
        width: 84%;
      }
      @media screen and (max-width:768px) {
        width: 100%;
        font-size: 13px;
      }
      @media screen and (max-width:576px) {
        width: calc(225px + (150 - 50) * (100vw - 576px) / (576 - 0) ); 
        font-size: 11px;
       }
    }
  }
 
}

.wrapper-checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  .total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 21%;
    margin-right: 25px;

    @media screen and (max-width: 992px) {
      width: 30%;
    }
    @media screen and (max-width: 768px) {
      width: 40%;
    }
    @media screen and (max-width: 576px) {
      width: 60%;
    }
  }
  .btn-read{
    @media screen and (max-width:768px) {
      width: 40%;
      font-size: 15px;
      text-align: center;
    }
  }
}
.title-price-wrapper{
  @media screen and (max-width:576px) {
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
   h1{
     text-align: right;
   }
  }
}
.block-increase-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}