@import "./../../../scss/componentstyles/utils/variables.scss";

.react-tel-input {

    .form-control {
        background-color: transparent;
        width: 100%;
        border: none;
        border-bottom: 1px solid $black;
        margin-top: 5px;
        border-radius: 0px;
        font-size: 16px;
        &:focus {
            color: $black;
            background-color: transparent;
            border-bottom: 1px solid $accent;
            outline: 0;
            box-shadow: none;

        }

    }

    .flag-dropdown {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $black;

        &:hover {
            border-bottom: 1px solid $accent;
        }

        &:focus {

            color: $black;
            background-color: transparent;
            box-shadow: none;

        }
    }
    .selected-flag {
        border-radius: 0px;
    }
}
.w-45{
width: 45%;
@media screen and (max-width: 768px) {
    width: 40% !important;
}
}
form{
    .col-12{
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column !important;
            div{
                width: 100%;
                margin-left: 0px !important;
              
            }

        }
        
    }
}