@import "./../../scss/componentstyles/utils/variables.scss";
.instagram-posts {
    margin-top: 160px;
    @media screen and (max-width: 720px) {
      margin-top: 60px;
    }
    h1 {
      font-family: Taviraj;
      font-size: 40px;
      font-weight: 600;
      line-height: 1.11;
      letter-spacing: 0.72px;
      color: $black;
    }
  
    hr {
      margin-left: 15px;
      border: none;
      color: black;
      opacity: 1;
      border-top: 1px solid black;
      width: 105px;
    }
  
    .posts {
      margin-top: 55px;
      margin-bottom: 95px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 0px;
  
    
      img {
        margin: 0;
        padding: 0;
        width: 100%;
        transition: .5s;
        @media screen and (max-width: 480px) {
          grid-template-columns: repeat(3, 1fr);
        
        }
        &:hover {
          transform: scale(1.3);
          transition: .5s;
          cursor: pointer;
        }
      }
    }
  }