.authWrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    width: 50%;
    align-items: center;
    justify-content: center;
    .wrap{
        text-align: center;
        .btn-read{
            width: 100%;
            justify-content: center;
        }
    }
}