.caraousel {
  margin-top: 90px;

  .swiper-slide {
    width: 1110px;
    height: 705px;

    @media screen and (max-width: 480px) {
      height: 605px;
    }
  }

  .swiper-slide-wrapper {
    background-color: $secondAccent;
    height: 555px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    &__img img {
      position: absolute;
      padding: 15px;

      @media screen and (max-width: 1140px) {
        width: 33%;
        margin-right: 10px;
        padding: 0;
      }

      @media screen and (max-width: 960px) {
        width: 36%;
        margin-right: 10px;
        padding: 0;
      }

      @media screen and (max-width: 720px) {
        width: 40%;
      }

      z-index: 4;
      top: 160px;
      left: 0px;
    }

    &__content {
      width: calc(75% - 80px);
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @media screen and (max-width: 1140px) {
        margin-left: 10px;
      }

      @media screen and (max-width: 960px) {
        margin-left: 10px;
      }

      @media screen and (max-width: 720px) {
        margin-left: 30px;
      }

      @media screen and (max-width: 480px) {
        margin-left: 50px;
      }

      h1 {
        margin-top: 20px;
        font-family: "Taviraj";
        font-size: 4.688em;
        line-height: 1.33;
        max-width: 560px;
        color: $black;

        @media screen and (max-width: 960px) {
          font-size: 40px;
        }

        @media screen and (max-width: 720px) {
          font-size: 35px;
        }

        @media screen and (max-width:480px) {
          font-size: calc(16px + (27 - 16) * (100vw - 320px) / (480 - 320));
          margin-top: 40px;
        }


      }

      hr {
        border: none;
        color: black;
        opacity: 1;
        border-top: 1px solid black;
        width: 165px;
      }

      p {
        font-family: "Nunito";
        font-size: 25px;

        @media screen and (max-width: 1140px) {
          font-size: 21px;
        }

        @media screen and (max-width: 960px) {
          font-size: 19px;
        }

        @media screen and (max-width: 720px) {
          font-size: 19px;
        }

        @media screen and (max-width:480px) {
          font-size: calc(12px + (19 - 12) * (100vw - 320px) / (480 - 320));
        }

        color: $black;
        width: calc(85% - 5px);
      }
    }




  }

  .swiper-button-next::after {
    content: "" !important;
  }

  .swiper-button-prev::after {
    content: "" !important;
  }

  .swiper-button-prev {
    left: auto !important;
    right: 130px !important;
  }

  .swiper-button-next {
    right: 50px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 77% !important;
    border: 2px solid $accent;
    padding: 30px;
    font-size: 50px;
    color: $accent !important;

    @media screen and (max-width: 480px) {
      top: 90% !important;
    }

    &:hover {
      color: $white !important;
      background-color: $accent;
      transition: .3s;
    }

    svg {
      &::before {
        font-weight: normal !important;
        font-style: normal !important;
        -webkit-text-stroke: 0.5px white !important;
      }
    }

  }

}
