@import "./../../scss/componentstyles/utils/variables.scss";


.paymantDetails {
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .col-12 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .col-6 {
                background-color: $white;
                padding: 20px;
                margin: 15px;

                h1 {
                    margin-bottom: 40px;
                }
            }
        }
    }

    .paymentStages {
        margin-bottom: 50px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px;

            img {
                width: 60px;
            }
        }

        div:nth-child(2) {
            position: relative;

            &::before {
                top: 70%;
                right: 120%;
                content: "";
                position: absolute;
                width: 114px;
                height: 1px;
                background-color: $black;
            }

            &::after {
                top: 70%;
                left: 120%;
                content: "";
                position: absolute;
                width: 114px;
                height: 1px;
                background-color: $black;
            }

            img {
                width: 60px;
            }
        }

        h3 {
            display: flex;
            font-family: Taviraj;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            color: $secondGrey;
        }

        .activeStage {
            h3 {
                color: $accent;
            }
            svg {
                fill: $accent;
                path {
                    stroke: $accent;
                    fill:transparent;
                }
                circle{
                    stroke: $accent;
                    fill:transparent;
                }
            }
        }
    }
}

.formBlock {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    label {
        font-family: "Taviraj";
        font-size: 16px;
        color: $blackTrue;
        font-weight: 600;
        margin-top: 20px;
    }

    input {
        margin-top: 5px;
        border: none;
        border-bottom: 1px solid $black;
        color: $black;
        font-family: Taviraj;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        padding: 0;
        padding-bottom: 6px;
        width: 100%;

        &::placeholder {
            color: $secondGrey;
        }

        &:focus {
            border: none;
            outline: 0;
            border-bottom: 1px solid $accent;
            transition: .5s;
        }

        &:hover {
            border: none;
            outline: 0;
            border-bottom: 1px solid $accent;
            transition: .5s;
        }
    }


}

.countrySelect {
    width: 100%;

    label {
        font-family: "Taviraj";
        font-size: 16px;
        color: $blackTrue;
        font-weight: 600;
        margin-top: 20px;
    }

    select {
        width: 100%;
        border: none;
        outline: 0;
        border-bottom: 1px solid $black;
        font-family: Taviraj;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;

        &:focus {
            border: none;
            outline: 0;
            border-bottom: 1px solid $accent;
            transition: .5s;

            option {
                &:hover {
                    background-color: $secondAccent !important;
                }
            }
        }

        &:hover {
            border: none;
            outline: 0;
            border-bottom: 1px solid $accent;
            transition: .5s;

            option {
                &:hover {
                    background-color: $secondAccent !important;
                }
            }

        }

    }

}