.MainLayout{
    margin-top: 40px;
}
.adminLayout{
    margin-top: 40px;
}
.ItemLayout{
    margin-top:40px;
}

.contorlPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .verticalNav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}