.MainLayout{
    margin-top: 40px;
   
}
.adminLayout{
    margin-top: 100px;
    .content{
        width: 90%;
    }
}
.ItemLayout,
.NewsLayout{
    margin-top:110px;
    height: 100%;
    .container{
        .dashboard,
        .order,
        .cart{ 
            @media screen and (min-width:1200px) {
                min-height: 45vh;
               
            }
            @media screen and (min-width:1400px) {
                min-height: 45vh;
               
            }
            @media screen and (min-width:768px) {
                min-height: 50vh;
               
            }
            margin-top: 140px;
        }
    }
    .aboutUs{
        min-height: 49vh;
    }
    @media screen and (max-width:480px) {
        margin-top: 150px;
    }
}

.contorlPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    padding: 20px;
    .verticalNav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}