@import "./../../scss/componentstyles/utils/variables.scss";

.formRow{
    input,
    &.chekoutInput select{
        outline: none;
        outline: 0;
        background-color:transparent;
        font-size:23px;
        font-weight: 500;
        color:$black;
        margin-top: 30px;
        padding: 5px;
        border:none;
        border-bottom: 1px solid $accent;
        option{
            border-bottom:1px solid $grey;
            background-color:$grey;
            &:focus{
                background-color:$accent;
            }
            &:hover{
                background-color:$accent;
            } 
        }
    }

}
.formStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
